main {
  margin: 20px auto 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px auto 30px;
  width: 100%;
}

.header__title {
  display: block;
  margin: 0 auto 15px;
  text-align: center;
}

.text_color_red {
  color: red;
  display: block;
}

.text_color_blue {
  color: blue;
  display: block;
}

.list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 40px);
}

.list__header {
  font-weight: bold;
  font-size: 18px;
}

.list__title {
  margin: 40px auto;
  text-align: center;
  display: block;
}

.list__title_border {
  color: brown;
  border: 3px solid;
}

.list__number {
  min-width: 50px;
}

.list__link {
  margin: 20px auto;
  font-size: 28px;
  text-decoration: none;
  color: green;
  font-weight: bold;
  text-align: center;
}

.list__link:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px; 
}

.footer__title {
  display: block;
  margin: 15px auto 15px;
  text-align: center;
}

.footer__span {
  display: block;
}

.footer__link {
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  color: orange;
}

.footer__link:hover {
  text-decoration: underline;
}

.catalogue {
  min-width: 480px;
  overflow: scroll;
  width: 100%;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  min-width: 800px;
}

table tr {
  border-bottom: 1px solid
}

table th, table td {
  padding: 10px 20px;
}

td {
  padding: 10px 10px 0;
  text-align: center;
}

.adobe {
  max-width: 1280px;
  min-height: 780px;
  min-width: 480px;
  width: 100%;
}